{% extends "email/towers/base.html" %}
{% load i18n comunicat_tags %}

{% block email_body %}
    <p>{% trans "Thank you for your order! You will find a summary of the products you have purchased along with payment information right below." %}</p>
    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-hfk9{background:none;border:none;text-align:left;vertical-align:top}
</style>
<h4 style="margin-bottom:15px;">{% trans "Summary" %}</h4>
<table class="tg" style="margin-bottom:20px;">
                    {% for order_product_obj in order_obj.products.all %}
  <tr>
    <td class="tg-hfk9" style="display: flex; justify-content: start; align-items: center;"><img style="max-height: 2em; width: 2em; margin: 0; padding-right: 8px;" alt="{{ order_product_obj.size.product.name|localise }}"
                                                                                                              class="styles_eventCardImage__sN8Xw"
                                                                                                              src="{% full_media order_product_obj.size.product.images.first.picture.url %}"> <p style="margin: 0 !important;">{{ order_product_obj.quantity }} x {{ order_product_obj.size.product.name|localise }} — {{ order_product_obj.size.size }}</p></td>
    <td class="tg-hfk9"><p style="text-align: right;white-space:nowrap;margin: 0 !important;">{{ order_product_obj.amount|format_money }}</p></td>
  </tr>
                    {% endfor %}
    {% if order_obj.delivery %}
      <tr>
          <td class="tg-hfk9"><p style="margin: 0 !important;">{{ order_obj.delivery.provider.name|localise }}</p></td>
          <td class="tg-hfk9"><p style="text-align: right;white-space:nowrap;margin: 0 !important;">{{ order_obj.delivery.amount|format_money }}</p></td>
      </tr>
    {% endif %}
  <tr>
      <td class="tg-hfk9"><p style="margin: 0 !important;"><strong>{% trans "Total" %}</strong></p></td>
      <td class="tg-hfk9"><p style="text-align: right;white-space:nowrap;"><strong>{{ order_obj|order_amount|format_money }}</strong></p></td>
  </tr>
</table>
<h4 style="margin-bottom:10px;">{% trans "Payment options" %}</h4>
    <ul>
        <li>Swish: 123 068 88 20</li>
        <li>PlusGirot: 97 09 16-3</li>
        <li>IBAN: SE84 9500 0099 6042 0970 9163</li>
    </ul>
{% endblock %}
