.iconGoogle {
  margin-left: 4px;
}

.checkboxLink {
  display: inline-flex;
  align-content: center;
  justify-content: start;
  padding-top: 8px;
  padding-left: 30px;
}

.link {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.iconEast {
  margin-left: 4px;
}

.buttons {
  justify-content: center;
}

.error {
  text-align: center !important;
}

.success {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.joinSubtitle {
  text-align: center;
  margin-top: 32px !important;
}

.paymentSubtitle {
  text-align: center;
  margin-top: 8px !important;
}

.amountSubtitle {
  text-align: center;
  margin-top: 8px !important;
  margin-bottom: 4px !important;
}

.textSubtitle {
  text-align: center;
  margin-bottom: 16px !important;
}

.joinIcon {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 500px !important;
  opacity: 0.25;
}

@media screen and (max-width: 900px) {
  .joinIcon {
    font-size: 250px !important;
  }
}

input {
  background-color: var(--mui-palette-common-white) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f8f8 inset !important;
  -webkit-text-fill-color: #000000 !important;
  caret-color: #000000 !important;
}

.accordion {
  border: 1px solid rgba(var(--mui-palette-common-onBackgroundChannel) / 0.23);
}

.accordionDetails {
  border-top: 1px solid
    rgba(var(--mui-palette-common-onBackgroundChannel) / 0.23);
  background-color: var(--mui-palette-grey-50);
  padding: 20px 24px 24px 24px !important;
}

.userMembershipPaymentBox {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 24px;
  max-width: 300px;
  align-self: center;
}

.userMembershipPaymentSwish {
  min-width: 50%;
  max-width: 300px;
  margin: 16px 8px 4px 8px;
}

.userMembershipPaymentIconSwish {
  z-index: 500;
  position: absolute;
  width: 15%;
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mui-palette-common-white);
  padding: 8px;
  border-radius: 50%;
  margin-top: 6px;
}

.checkboxActivity {
  padding-left: 0;
}
