{% extends "email/towers/base.html" %}
{% load i18n comunicat_tags %}

{% block email_message_pre %}
    <p>{% trans "Did you request to change your password? To update it click on the following button. If you didn't request this you can ignore this email." %}</p>
{% endblock %}

{% block email_button_url %}{% with "user/password/"|add:token as user_password_link %}{% full_towers_url user_password_link %}{% endwith %}{% endblock %}

{% block email_button_text %}{% trans "Change password" %}{% endblock %}

{% block email_closing %}{% endblock %}
