{% extends "email/towers/base.html" %}
{% load i18n comunicat_tags %}

{% block email_message_pre %}
    <p>{% trans "We have some upcoming events, please make sure to update your attendance as soon as you can!" %}</p>
    <h4 style="margin-bottom: 16px;">{% trans "Next events and rehearsals" %}</h4>
    <div style="margin-bottom: 24px;">
        {% for event_obj in event_objs %}
            <h5 style="margin-bottom: 4px;">{{ event_obj.title }}{% if event_obj.location and event_obj.type == 50 %} — {{ event_obj.location.name }}{% endif %}</h5>
            <h6 style="margin-bottom: 12px;">{{ event_obj.time_from|date }} {{ event_obj.time_from|date:"G:i" }} → {{ event_obj.time_to|date:"G:i" }}</h6>
            <div>
                {% for user_obj in user_objs %}
                    <div style="display: inline-block; padding-right: 16px;">
                        <p style="margin-bottom: 0;"><strong>{{ user_obj.name }}</strong></p>
                        {% registration_by_event_and_user registration_objs event_obj user_obj as registration_obj %}
                        {% if registration_obj %}
                            <div style="display: flex; flex-direction: row; justify-content: center; color: #2e7d32;">
                                <img style="height: 16px; margin-right: 4px; margin-top: 2px; margin-left: 0;" src="{% full_static "towers/img/icon_check_circle.png" %}"/>
                                <p style="display: inline-block; margin-bottom: 0; font-size: 14px; color: #2e7d32;">{% trans "Attending" %}</p>
                            </div>
                        {% else %}
                            <div style="display: flex; flex-direction: row; justify-content: center; color: #d32f2f;">
                                <img style="height: 16px; margin-right: 4px; margin-top: 2px; margin-left: 0;" src="{% full_static "towers/img/icon_cancel.png" %}"/>
                                <p style="display: inline-block; margin-bottom: 0; font-size: 14px; color: #d32f2f;">{% trans "Not attending" %}</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if not forloop.last %}
                <div style="width: 100%; border-bottom: 1px solid #d4d4d4; margin: 16px 0"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block email_button_url %}{% full_towers_url "calendar/" %}{% endblock %}

{% block email_button_text %}{% trans "Change attendance" %}{% endblock %}
