.dashboard {
  display: flex;
  flex-basis: 0;
  align-items: center;
}

.dashboardTitle {
  text-align: center;
  color: #1d1d1d;
  font-size: 42px !important;
}

.dashboardTemporary {
  margin-bottom: 8px !important;
}

.link {
  display: inline-flex;
  align-content: center;
  justify-content: center;
}

.iconEast {
  margin-top: -2px;
  margin-left: 4px;
}

.dashboardGrid {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.rehearsalAgendaItem {
  p {
    margin: 0 !important;
  }
}

.userFamilyBox {
}

.userFamilyList {
  width: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  div:first-of-type {
    min-width: 32px !important;
  }
}

.userFamilyListActionButtons {
  align-self: stretch;
  align-items: center;
  display: flex;
  margin: -4px 0;
}

.userAttendanceUpdate {
  padding: 4px 16px 8px 16px;
}

.userFamilyMemberUpdate {
  padding: 12px 16px 16px 16px;
}

.userFamilyEmpty {
  padding: 12px 16px 16px 16px;
}

.userTopBox {
  padding: 12px 16px;
  background-color: var(--mui-palette-primary-main);
}

.userInsideBox {
  padding: 8px 16px;
  background-color: var(--mui-palette-primary-light);
}

.userDetailsBox {
  padding: 8px 16px;
  flex: 1 1 auto;
}

.userLogoutBox {
  padding: 16px 16px 12px 16px;
}

.userMembershipInfoBox {
  padding: 12px 16px 16px 16px;
}

.userList {
  li {
    padding: 0 !important;
    div {
      min-width: 32px !important;
    }
  }
}

.dashboardMembershipModule {
  display: block;
}

.paymentRefundIcon {
  margin-bottom: -2px;
}

.tabsCastle {
}

.containerCastle {
  width: 100%;
  height: 350px;
  position: relative;
  margin: 0;

  @media screen and (max-width: 900px) {
    height: 175px;
  }
}

.iframeCastle {
  border: 0;
  width: 200%;
  height: 700px;
  overflow: hidden;
  transform: translateX(-50%) scale(0.5, 0.5);
  position: absolute;
  left: 50%;
  top: -175px;

  @media screen and (max-width: 900px) {
    width: 400%;
    height: 700px;
    overflow: hidden;
    transform: translateX(-50%) scale(0.25, 0.25);
    position: absolute;
    left: 50%;
    top: -262.5px;
  }
}
