.pressContainerBox {
  line-height: 1.6;
}

.pressGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.pressCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pressCardImage {
  background-size: cover;
  background-position: center;
}

.pressCardText {
  padding: 16px;
}

.pressCardTitle {
  line-height: 1.25 !important;
}

.pressReleaseCard {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}
