.pressContainerBox {
  line-height: 1.6;
}

.pressGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.pressCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pressCardImage {
  background-size: cover;
  background-position: center;
}

.pressCardText {
  padding: 16px;
}

.pressCardTitle {
  line-height: 1.25 !important;
}

.pressReleaseCard {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.pressReleaseFootnote {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mui-palette-grey-100);
  border-left: var(--mui-palette-divider) solid 1px;
  border-right: var(--mui-palette-divider) solid 1px;
  border-bottom: var(--mui-palette-divider) solid 1px;
  border-radius: 0 0 4px 4px;
  padding: 4px 8px;
}
