.containerCastle {
  margin: calc(-2 * var(--mui-spacing));
  width: calc(100% + 4 * var(--mui-spacing));
  display: flex;
  flex-direction: column;
}

.stageCastle {
  display: flex;
  justify-content: center;
  padding: calc(2 * var(--mui-spacing));
}

.optionsCastleSwitch {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 0 !important;
  margin-right: 8px !important;
  display: flex;
  justify-content: center;
}

.optionsCastlePositions {
  width: 100%;
}
