.adminGrid {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.adminCard {
  width: 100%;
}

.adminList {
  width: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  div:first-of-type {
    min-width: 36px !important;
  }
}

.adminTitleLink {
  width: 100%;
}

.adminTopBoxLink {
  padding: 12px 16px;
  background-color: var(--mui-palette-primary-main);
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.adminTitleIcon {
  margin-top: 4px;
}

.eventCardIcon {
  min-width: 42px !important;
}

.eventCardImage {
  width: 1.5em;
  max-height: 1.5em;
}

.eventCountBox {
  display: flex;
  min-width: 64px;

  p {
    font-family: "DM Mono", "monospace" !important;
    text-align: right;
  }
}

.eventCountNoTextBox {
  display: flex;
  justify-content: end;
}

.eventCountIcon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 4px;
}

.userFamilyListInner {
  display: flex;
  flex: 1;
}

.userFamilyListItem {
  flex: 1;
}

.adminBox {
  padding: 12px 16px;
}

.adminBoxCharts {
  padding: 12px 24px 16px 24px;
}

.adminTableRowLast {
  th,
  td {
    border-bottom: none !important;
  }
}

.adminTableCellUnknown {
  background-color: var(--mui-palette-LinearProgress-primaryBg);
}

.adminTableCellAttending {
  background-color: var(--mui-palette-LinearProgress-successBg);
}

.adminTableCellNotAttending {
  background-color: var(--mui-palette-LinearProgress-errorBg);
}

.adminGridHeader {
  height: fit-content;
}

.adminGridCell {
  padding: 0 !important;
  & > div {
    padding: 0 10px;
  }
}

.stockCountBox {
  display: flex;
  justify-content: end;
  min-width: 48px;

  p {
    font-family: "DM Mono", "monospace" !important;
    text-align: right;
  }
}

.stockCountIcon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 4px;
  color: var(--mui-palette-text-secondary);
}

.userListBox {
  display: flex;
  justify-content: end;

  p {
    text-align: right;
  }
}

.userListIcon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 4px;
  color: var(--mui-palette-text-secondary);

  svg {
    width: 18px !important;
    height: 18px !important;
    margin-right: 4px;
  }
}

.providerLoader {
  height: calc(100% - 56px - 48px);
  padding: 24px;
}
