.adminGrid {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.adminCard {
  width: 100%;
}

.adminList {
  width: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  div:first-of-type {
    min-width: 32px !important;
  }
}

.adminTitleLink {
  width: 100%;
}

.adminTopBoxLink {
  padding: 12px 16px;
  background-color: var(--mui-palette-primary-main);
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.adminTitleIcon {
  margin-top: 4px;
}

.eventCardIcon {
  min-width: 42px !important;
}

.eventCardImage {
  width: 1.5em;
  max-height: 1.5em;
}

.eventCountBox {
  display: flex;
}

.eventCountNoTextBox {
  display: flex;
  justify-content: end;
}

.eventCountIcon {
  width: 18px !important;
  height: 18px !important;
  margin-right: 4px;
}

.userFamilyListInner {
  display: flex;
  flex: 1;
}

.userFamilyListItem {
  flex: 1;
}

.adminBox {
  padding: 12px 16px;
}

.adminTableRowLast {
  th,
  td {
    border-bottom: none !important;
  }
}

.adminTableCellUnknown {
  background-color: var(--mui-palette-LinearProgress-primaryBg);
}

.adminTableCellAttending {
  background-color: var(--mui-palette-LinearProgress-successBg);
}

.adminTableCellNotAttending {
  background-color: var(--mui-palette-LinearProgress-errorBg);
}

.adminGridHeader {
  height: fit-content;
}

.adminGridCell {
  padding: 0 !important;
  & > div {
    padding: 0 10px;
  }
}
