{% extends "email/org/base.html" %}
{% load i18n comunicat_tags %}

{% block email_message_pre %}
    {% if membership_obj %}
        {% if membership_obj.date_to|date_is_future %}
            <p>{% trans "Your membership is active until" %} <strong>{{ membership_obj.date_to|date:"Y-m-d" }}</strong> {% trans "and therefore you are currently a member of" %} {% for module_name in membership_obj|membership_module_names %}<strong>{{ module_name }}</strong>{% if forloop.counter0 < membership_obj.all_modules|length|add:"-2" %}, {% elif forloop.counter0 < membership_obj.all_modules|length|add:"-1" %} {% trans "and" %} {% endif %}{% endfor %}.
            <ul>
                <li>{% trans "Amount" %}: <strong>{{ membership_amount }} SEK</strong></li>
                <li>{% trans "Valid" %}: <strong>{{ membership_date_from|date_add_days:1|date:"Y-m-d" }} → {{ membership_date_to|date:"Y-m-d" }}</strong></li>
            </ul>
        {% else %}
            <p>{% trans "Your membership expired on" %} <strong>{{ membership_obj.date_to|date:"Y-m-d" }}</strong> {% trans "and therefore you aren't a member anymore." %}
            <p>{% trans "In your dashboard you can find instructions on how to renew your membership as well as the payment information." %}</p>
        {% endif %}
    {% else %}
        <p>{% trans "You don't have an active membership registered with this email and therefore aren't a member." %}
        <p>{% trans "However, not all is lost! You can become a member easily, head to our website to join." %}
    {% endif %}
{% endblock %}

{% block email_button %}
    {% if membership_obj and not membership_obj.date_to|date_is_future or not membership_obj %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% if membership_obj and not membership_obj.date_to|date_is_future or not membership_obj %}
    {% block email_button_url %}https://quota.lesquatrebarres.org?email={{ email }}{% endblock %}

    {% block email_button_text %}{% if membership_obj %}{% trans "Renew membership" %}{% else %}{% trans "Join us" %}{% endif %}{% endblock %}
{% endif %}
