{% extends "email/org/base.html" %}
{% load i18n comunicat_tags %}

{% block email_message_pre %}
    <p>{% trans "Your membership will be expiring on" %} <strong>{% if membership_obj %}{{ membership_obj.date_to|date:"Y-m-d" }}{% else %}{% now "Y-m-d" %}{% endif %}</strong>. {% trans "In order to enjoy all the benefits we provide as well as attend our events you need to renew it before it expires." %}</p>
    <ul>
        <li>{% trans "Amount" %}: <strong>{{ membership_amount }} SEK</strong></li>
        <li>{% trans "Valid" %}: <strong>{{ membership_date_from|date_add_days:1|date:"Y-m-d" }} → {{ membership_date_to|date:"Y-m-d" }}</strong></li>
    </ul>
    <p>{% trans "You can find the form to renew your membership in the following page." %}</p>
{% endblock %}

{% block email_button_url %}https://quota.lesquatrebarres.org?email={{ user_obj.email }}{% endblock %}

{% block email_button_text %}{% trans "Renew membership" %}{% endblock %}
