.orderGrid {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.deliveryGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.productsList {
  padding: 0 !important;
}

.eventCardIcon {
  min-width: 42px !important;
}

.eventCardImage {
  width: 3em;
  max-height: 3em;
  padding: 8px 16px 8px 0;
}

.deliveryCardImage {
  width: 100%;
}

.userTopBox {
  padding: 12px 16px;
  background-color: var(--mui-palette-primary-main);
}

.userDetailsBox {
  padding: 8px 16px;
  flex: 1 1 auto;
}

.dataDetailsBox {
  padding: 16px 16px 20px 16px;
  flex: 1 1 auto;
}

.providerBox {
  padding: 16px;
  flex: 1 1 auto;
}

.summaryDetailsBox {
  padding: 16px;
}

.buttons {
  justify-content: center;
}

.buttonsFill {
  flex: 1;

  * {
    flex-grow: 1;
  }
}

.productAmount {
  white-space: nowrap;
}

.error {
  text-align: center !important;
}

.paymentAccordionBox {
  padding: 0 !important;
  /*margin-bottom: 8px !important;*/

  :first-child {
    border-top: 0 !important;
  }

  :last-child {
    border-bottom: 0 !important;
  }
}

.paymentAccordion {
  border-left: 0 !important;
  border-right: 0 !important;
}

.providerGrid {
  display: flex;
  flex-wrap: wrap;
}

.providerItem {
  display: flex;
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.providerItemImage {
  flex: 1;
  align-content: center;

  img {
    max-height: 64px;
    max-width: 132px;
    aspect-ratio: 1;
    width: auto;
  }
}

.paymentGrid {
  width: 100%;
}

.paymentCard {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.paymentCardDisabled {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;

  * {
    opacity: 0.5;
  }

  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.paymentCardGrid {
  width: 100%;
  align-items: stretch;
}

.paymentCardText {
  background-color: var(--mui-palette-primary-main);
  padding: 16px;
  align-content: center;
}

.paymentCardImage {
  text-align: center;
  padding: 16px;
  align-content: center;
  border-left: 1px solid var(--mui-palette-divider);

  img {
    width: 80px;
    max-height: 64px;
    margin-left: auto;
    object-fit: contain;
  }
}

.providerSwish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;

  img {
    width: 100%;
    max-width: 265px;
    margin-bottom: 16px;
  }
}

.providerSwishText {
  padding-bottom: 4px;
  text-align: center;
}

.providerSwishButton {
  margin-top: 12px !important;
}

.providerLoader {
  padding-top: 16px;
}

.providerPayPalBox {
}

.providerPayPalIframe {
  border: 0;
  width: 100%;
  height: 750px;
}

.orderTimeline {
  margin-top: 32px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  width: fit-content !important;
}
