.userJoin {
  padding-top: 0 !important;
}

.userJoinTitle {
  color: var(--mui-palette-secondary-contrastText);
}

.userJoinTitleBox {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.heroContainer {
  width: 100% !important;
  max-width: unset !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--mui-palette-secondary-main);
  position: relative;
}

.heroImage {
  background-position: center center;
  background-size: cover;
  opacity: 0.15;
}
