.userJoin {
  display: flex;
  flex-basis: 0;
  align-items: center;
  flex-direction: column;
}

.userJoinTitle {
  text-align: center;
  color: #1d1d1d;
  font-size: 42px !important;
  margin-bottom: 32px !important;
}

.carouselTop {
  padding-top: 64px;
  height: 350px;
  width: 100%;
}
