.navBar {
  border: none;
  background-color: var(--primary);
  border-bottom: rgba(29, 29, 29, 0.1) solid 1px;
}

.navContainer {
  padding: 0 !important;
}

.navMenuItem {
  padding: 0 32px 0 0 !important;
}

.navMenuItem:hover {
  background-color: unset !important;
}

.navMenuLogin {
  margin-left: 16px !important;
  margin-right: -8px !important;
  color: #1d1d1d !important;
}

.navMenuLogin:hover {
  background-color: unset !important;
}

.navMenuAccount {
  margin-left: 16px !important;
  margin-right: -8px !important;
  color: #1d1d1d !important;
}

.drawer {
  min-width: 250px;
}

.drawerItem {
  color: #1d1d1d !important;
}
