.adminGrid {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.adminCard {
  width: 100%;
}

.adminTopBox {
  padding: 12px 16px;
  background-color: var(--mui-palette-primary-main);
  display: flex;
}

.adminTopBoxTitle {
  width: 100%;
}

.adminTopBoxTitleNew {
  width: 100%;
  font-style: italic;
}

.adminTopBoxButtons {
  width: fit-content !important;
}

.transitionAlert {
  width: 100%;
}

.buttons {
  justify-content: center;
}

.buttonIcon {
  padding-right: 4px;
}

.adminTopTransparentBox {
  padding: 12px 16px 16px 16px;
}

.adminCardDivider {
  margin: 12px 0;
}

.adminTableRowLast {
  th,
  td {
    border-bottom: none !important;
  }
}

.alert {
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.adminTableCellUnknown {
  background-color: var(--mui-palette-LinearProgress-primaryBg);
}

.adminTableCellAttending {
  background-color: var(--mui-palette-LinearProgress-successBg);
}

.adminTableCellNotAttending {
  background-color: var(--mui-palette-LinearProgress-errorBg);
}

.adminGridHeader {
  height: fit-content;
}

.adminGridCell {
  padding: 0 !important;
  & > div {
    padding: 0 10px;
  }
}

.adminMono {
  font-family: "DM Mono", "monospace" !important;
}

.accordion {
  width: 100%;
}

.accordionSummary {
  min-height: 48px !important;
  margin: 0 !important;
}

.accordionSummary span {
  margin: 0 !important;
}

.accordionDetails {
  border-top: 1px solid var(--mui-palette-divider);
  background-color: var(--mui-palette-grey-50);
  padding: 12px 16px !important;
}

.providerLoader {
  padding-top: 16px;
}
