.adminGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.adminCard {
  width: 100%;
}

.adminStatsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.adminTopBox {
  padding: 12px 16px;
  background-color: var(--mui-palette-primary-main);
}

.adminSearchBox {
  padding: 8px 16px 16px 16px;
  flex: 1 1 auto;
}

.adminStatsBox {
  padding: 16px 16px 16px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  gap: 16px;
}

.adminStatsStack {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
}

.adminStatsCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.adminStatsIcon {
  width: auto;
  height: 32px;
}

.adminTableRowLast {
  th,
  td {
    border-bottom: none !important;
  }
}

.adminTableCellUnknown {
  background-color: var(--mui-palette-LinearProgress-primaryBg);
}

.adminTableCellAttending {
  background-color: var(--mui-palette-LinearProgress-successBg);
}

.adminTableCellAttended {
  background-color: var(--mui-palette-LinearProgress-infoBg);
}

.adminTableCellNotAttending {
  background-color: var(--mui-palette-LinearProgress-errorBg);
}

.adminIconRegistrationUnknown svg {
  color: var(--mui-palette-primary-main);
}

.adminIconRegistrationAttending svg {
  color: var(--mui-palette-success-main);
}

.adminIconRegistrationAttended svg {
  color: var(--mui-palette-info-main);
}

.adminIconRegistrationNotAttending svg {
  color: var(--mui-palette-error-main);
}

.adminCell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 6px 10px !important;
}

.adminGridHeader {
  height: fit-content;
}

.adminGridCell {
  padding: 0 !important;
  & > div {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.adminButtonsCell {
  display: flex;
  padding: 6px 10px !important;
}

.adminMono {
  font-family: "DM Mono", "monospace" !important;
}

.accordion {
  width: 100%;
}

.accordionSummary {
  min-height: 48px !important;
  margin: 0 !important;
}

.accordionSummary span {
  margin: 0 !important;
}

.accordionDetails {
  border-top: 1px solid var(--mui-palette-divider);
  background-color: var(--mui-palette-grey-50);
  padding: 12px 16px !important;
}

.buttons {
  display: flex;
  align-items: center;
  button {
    height: fit-content;
    margin: 8px 0 !important;
    white-space: nowrap;
  }
}

.userFamilyArrow {
  margin-left: auto;
}

.userFamilyList {
  width: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  div:first-of-type {
    min-width: 36px !important;
  }
}

.userFamilyListInner {
  display: flex;
  flex: 1;
}

.userFamilyListItem {
  flex: 1;
}

.providerLoader {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  padding: 24px;
}

.registrationsDetailsBox {
  flex: 1 1 auto;
}

.registrationQuestionsBox {
  padding: 0 16px;
}

.userFamilyList {
  width: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  div:first-of-type {
    min-width: 36px !important;
  }
}
