.page {
  display: flex;
  flex-basis: 0;
  align-items: center;
}

.pageTitle {
  text-align: center;
  color: #1d1d1d;
  text-wrap: balance;
}

.pageForm {
  margin-top: 32px !important;
}

.pageLoader {
  align-content: center;
  flex: 1;
  display: flex;
}
