{% extends "pdf/org/base.html" %}
{% load i18n %}

{% block styles_page_size %}
size: A4 landscape;
{% endblock %}

{% block styles %}
{{ block.super }}
h1 {
  font-size: 16pt;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 14pt;
  color: #999999;
  margin: 0;
  text-align: center;
}

section#data table {
  margin-top: 32px;
  width: 100%;
}

section#data table td,
section#data table th {
  padding: 0 6px;
}

section .data-th1,
section .data-td1 {
// width: calc(100%/5);
vertical-align: top;
}

section .data-td1 {
  vertical-align: top;
}

section .data-t1 {
  font-weight: 600;
  font-size: 10pt;
  line-height: 20pt;
  margin: 0;
}

section .data-t2 {
  font-weight: 600;
  font-size: 10pt;
  line-height: 20pt;
  margin: 0;
  text-align: right;
}

section .data-t3 {
  font-weight: 400;
  font-size: 10pt;
  line-height: 10pt;
  margin: 0;
  padding: 8px 0;
}

section .data-t4 {
  font-weight: 500;
  font-size: 10pt;
  line-height: 10pt;
  margin: 0;
  padding: 8px 0;
  text-align: right;
  font-family: "IBMPlexMono", "Lexend", "sans-serif";
}

section .data-t5 {
  font-weight: 600;
  font-size: 10pt;
  line-height: 14pt;
  margin: 0;
}
{% endblock %}

{% block content %}
    <section id="info">
      <h1>{% trans "Pending orders" %}</h1>
    </section>

    <section id="data">
      <table>
          <tr>
            <th class="data-th1">
              <p class="data-t1">{% trans "Product" %}</p>
            </th>
            <th class="data-th1">
              <p class="data-t1">{% trans "Size" %}</p>
            </th>
            <th class="data-th1">
              <p class="data-t1">#</p>
            </th>
            <th class="data-th1">
              <p class="data-t1">{% trans "Name" %}</p>
            </th>
            {% for event_obj in event_objs %}
              <th class="data-th1">
                <p class="data-t5">{{ event_obj.title_locale }}<br>{{ event_obj.time_from|date:"d/m G:i" }}</p>
              </th>
            {% endfor %}
          </tr>
          {% for product_size_obj, order_product_order_objs in order_product_group_objs %}
              {% for order_product_obj, order_obj in order_product_order_objs %}
                <tr>
                  {% if forloop.counter0 == 0 %}
                    <td class="data-td1" rowspan="{{ order_product_order_objs|length }}">
                      <p class="data-t3">{{ order_product_order_objs|order_products_quantity }} x {{ product_size_obj.product.name_locale }}</p>
                    </td>
                    <td class="data-td1" rowspan="{{ order_product_order_objs|length }}">
                      <p class="data-t3">{{ product_size_obj.size }}</p>
                    </td>
                  {% endif %}
                    <td class="data-td1">
                      <p class="data-t3">{{ order_product_obj.quantity }}</p>
                    </td>
                    <td class="data-td1">
                      <p class="data-t3">{% if order_obj.entity %}{{ order_obj.entity.name }}{% endif %}</p>
                    </td>
                    {% if order_obj.entity %}
                      {% for event_obj in event_objs %}
                        <td class="data-td1">
                          {% with event_obj.id|event_entity_tuple:order_obj.entity.id as event_entity_tuple %}
                            <p class="data-t3">{% if registration_keys|registration_keys_if_attended:event_entity_tuple %}{% trans "Yes" %}{% endif %}</p>
                          {% endwith %}
                        </td>
                      {% endfor %}
                    {% endif %}
                  </tr>
              {% endfor %}
          {% endfor %}
      </table>
    </section>
{% endblock %}
