{% extends "pdf/org/base.html" %}
{% load i18n %}

{% block styles %}
{{ block.super }}
h1 {
  font-size: 16pt;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 14pt;
  color: #999999;
  margin: 0;
  text-align: center;
}

section#data table {
  margin-top: 32px;
  width: 100%;
}

section#data table td,
section#data table th {
  padding: 0 6px;
}

section .data-th1,
section .data-td1 {
// width: calc(100%/5);
}

section .data-t1 {
  font-weight: 600;
  font-size: 10pt;
  line-height: 20pt;
  margin: 0;
}

section .data-t2 {
  font-weight: 600;
  font-size: 10pt;
  line-height: 20pt;
  margin: 0;
  text-align: right;
}

section .data-t3 {
  font-weight: 400;
  font-size: 10pt;
  line-height: 10pt;
  margin: 0;
  padding: 8px 0;
}

section .data-t4 {
  font-weight: 500;
  font-size: 10pt;
  line-height: 10pt;
  margin: 0;
  padding: 8px 0;
  text-align: right;
  font-family: "IBMPlexMono", "Lexend", "sans-serif";
}
{% endblock %}

{% block content %}
    <section id="info">
      <h1>{{ event_obj.title_locale }} — {{ event_obj.time_from|date:"Y-m-d H:i" }}</h1>
    </section>

    <section id="data">
      <table>
          <tr>
            <th class="data-th1">
              <p class="data-t1">{% trans "First name" %}</p>
            </th>
            <th class="data-th1">
              <p class="data-t1">{% trans "Last name" %}</p>
            </th>
            <th class="data-th1">
              <p class="data-t1">{% trans "Phone" %}</p>
            </th>
            <th class="data-th1">
              <p class="data-t1">{% trans "Status" %}</p>
            </th>
            <th class="data-th1">
              <p class="data-t2">{% trans "Amount" %}</p>
            </th>
          </tr>
          {% for registration_obj in event_obj.all_registrations %}
            <tr>
              <td class="data-td1">
                <p class="data-t3">{% if registration_obj.entity.user %}{{ registration_obj.entity.user.firstname }}{% else %}{{ registration_obj.entity.firstname }}{% endif %}</p>
              </td>
              <td class="data-td1">
                <p class="data-t3">{% if registration_obj.entity.user %}{{ registration_obj.entity.user.lastname }}{% else %}{{ registration_obj.entity.lastname }}{% endif %}</p>
              </td>
              <td class="data-td1">
                <p class="data-t3">{% if registration_obj.entity.user %}{{ registration_obj.entity.user.phone|format_phone }}{% elif registration_obj.entity.phone %}{{ registration_obj.entity.phone|format_phone }}{% else %}{% endif %}</p>
              </td>
              <td class="data-td1">
                <p class="data-t3">{{ "RegistrationStatus"|labels_event|get_value:registration_obj.status }}</p>
              </td>
              <td class="data-td1">
                <p class="data-t4">{{ registration_obj.amount|format_money_2f }}</p>
              </td>
            </tr>
          {% endfor %}
      </table>
    </section>
{% endblock %}
