.pressContainerBox {
  margin-top: -20px;
  line-height: 1.6;
}

.pressGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.pressCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.pressCardUnpublished {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  opacity: 0.5;
}

.pressCardImage {
  background-color: var(--mui-palette-grey-100);
}

.pressCardImageBox {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

.pressCardText {
  padding: 16px;
}

.pressCardTitle {
  line-height: 1.25 !important;

  p {
    margin: 0 !important;
  }
}
