.homeGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.link {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
}

.iconEast {
  margin-left: 4px;
  margin-top: 6px;
}
