.calendarRow {
  display: flex;
  align-items: stretch;
  justify-content: center;

  :first-child {
    border-left: none;
  }
}

.calendarMonthYear {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarWeekday {
  padding: 6px;
  text-align: center;
  border-left: 1px solid var(--mui-palette-divider);
}

.calendarDay {
  min-height: 96px;
  padding: 6px;
  text-align: center;
  border-left: 1px solid var(--mui-palette-divider);
}

.calendarDayInvisible {
  min-height: 96px;
  padding: 6px;
  text-align: center;
  border-left: 1px solid var(--mui-palette-divider);
  color: var(--mui-palette-grey-400);
}

.calendarDayNumber {
}

.calendarIcon {
  font-size: 1.25rem !important;
  line-height: 1 !important;
  color: var(--mui-palette-action-active);

  svg {
    font-size: 1.25rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}

.calendarEvent {
  margin-top: 6px;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--mui-palette-primary-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  span {
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
