.adminGrid {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.adminCard {
  width: 100%;
}

.adminTopBox {
  padding: 12px 16px;
  background-color: var(--mui-palette-primary-main);
}

.adminTableRowLast {
  th,
  td {
    border-bottom: none !important;
  }
}

.adminTableCellProcessing {
  background-color: var(--mui-palette-LinearProgress-primaryBg);
}

.adminTableCellActive {
  background-color: var(--mui-palette-LinearProgress-successBg);
}

.adminTableCellExpired {
  background-color: var(--mui-palette-LinearProgress-errorBg);
}

.adminGridHeader {
  height: fit-content;
}

.adminGridCell {
  padding: 0 !important;
  & > div {
    padding: 0 10px;
  }
}

.adminMono {
  font-family: "DM Mono", "monospace" !important;
}
